# Auto detect text files and perform LF normalization
*           text=auto

# Always perform LF normalization on these files
*.php       text
*.json      text
*.md        text
*.sh        text
*.txt       text
*.xml       text
*.yaml      text
